# Mental Health matters, always and everywhere

## Introduction

In this jupyter notebook I will explore the data that was found on Kaggle about Mental Health. The data consists of several factors, such as countries, years, mental and substance use, prevalence of depression and so on. This dataset will mainly be used to learn more skills, such as plotting data on world map and more useful and easy to read and understand visualisations.


### Geospatial Data Visualisation
Geographic data is a subset of Data Science that deals with location-based data. Geo data is important nowadays, since most businesses and applications revolve around the location element. Visualisations can be important to derive faster insights from location-based datasets.

In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import folium

In [83]:
prevalence_depression = pd.read_csv('/Users/Roz/Documents/mental_health_project/data/prevalence-of-depression-males-vs-females.csv')
prevalence_depression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56395 entries, 0 to 56394
Data columns (total 7 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Entity                                                                             56395 non-null  object
 1   Code                                                                               54079 non-null  object
 2   Year                                                                               56395 non-null  int64
 3   Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)    6840 non-null   float64
 4   Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)  6840 non-null   float64
 5   Population (historical estimates)                                                  55656 non-null  float64
 6   Continent                                                                          285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.0+ MB

In [84]:
prevalence_depression = prevalence_depression.rename(columns={"Entity":"Country", "Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)": "Prevalence_depr_male",
                        "Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)" : "Prevalence_depr_female", "Population (historical estimates)": "Population_estimate"})

prevalence_depression.head()

,Country,Code,Year,Prevalence_depr_male,Prevalence_depr_female,Population_estimate,Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NaN
2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NaN
3,Afghanistan,AFG,1992,4.298265,5.850020,14485543.0,NaN
4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NaN

In [85]:
prevalence_depression.isnull().sum()

Country                       0
Code                       2316
Year                          0
Prevalence_depr_male      49555
Prevalence_depr_female    49555
Population_estimate         739
Continent                 56110
dtype: int64

In [89]:
prevalence_depression.dropna(how='any', inplace=True)

In [91]:
prevalence_depression.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 26 to 56160
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 204 non-null    object
 1   Code                    204 non-null    object
 2   Year                    204 non-null    int64
 3   Prevalence_depr_male    204 non-null    float64
 4   Prevalence_depr_female  204 non-null    float64
 5   Population_estimate     204 non-null    float64
 6   Continent               204 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 12.8+ KB

In [93]:
import geopandas as gpd

# access built-in Natural Earth data via GeoPandas
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

# Get a list (dataframe) of country centroids
centroids = world.centroid
centroid_list = pd.concat([world.name, centroids], axis=1)

centroid_list
# Plot the results
# base = world.plot(column = 'name', cmap = 'Blues')
# centroids.plot(ax = base, marker = 'o', color = 'red', markersize = 5)

/var/folders/kc/2ljthnk9065g3hvg5071ltxw0000gn/T/ipykernel_30522/601855778.py:7: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  centroids = world.centroid

                         name                            0
0                        Fiji  POINT (163.85316 -17.31631)
1                    Tanzania    POINT (34.75299 -6.25773)
2                   W. Sahara   POINT (-12.13783 24.29117)
3                      Canada   POINT (-98.14238 61.46908)
4    United States of America  POINT (-112.59944 45.70563)
..                        ...                          ...
172                    Serbia    POINT (20.81965 44.23304)
173                Montenegro    POINT (19.28618 42.78904)
174                    Kosovo    POINT (20.89536 42.57937)
175       Trinidad and Tobago   POINT (-61.33037 10.42824)
176                  S. Sudan     POINT (30.19862 7.29289)

[177 rows x 2 columns]

In [102]:
centroid_list = centroid_list.rename(columns={0:"coordinates", 'name':'Country'})
centroid_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      177 non-null    object
 1   coordinates  177 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 2.9+ KB

In [104]:
# centroid_list[['x_cor', 'y_cor']] = centroid_list.coordinates.str.split("(", expand = True) ignore

mergedDF = pd.merge(prevalence_depression, centroid_list, on = "Country")

mergedDF

,Country,Code,Year,Prevalence_depr_male,Prevalence_depr_female,Population_estimate,Continent,coordinates
0,Afghanistan,AFG,2015,4.384594,5.837310,34413603.0,Asia,POINT (66.08669 33.85640)
1,Albania,ALB,2015,1.768626,3.410732,2890524.0,Europe,POINT (20.03243 41.14135)
2,Algeria,DZA,2015,3.443441,5.172573,39728020.0,Africa,POINT (2.59805 28.18548)
3,Angola,AGO,2015,4.936344,6.651060,27884380.0,Africa,POINT (17.47057 -12.24587)
4,Argentina,ARG,2015,2.017437,3.143829,43075416.0,South America,POINT (-65.17536 -35.44682)
...,...,...,...,...,...,...,...,...
153,Venezuela,VEN,2015,2.798923,3.849009,30081827.0,South America,POINT (-66.16383 7.16213)
154,Vietnam,VNM,2015,1.949282,3.137088,92677082.0,Asia,POINT (106.28584 16.65794)
155,Yemen,YEM,2015,3.993781,6.056418,26497881.0,Asia,POINT (47.53504 15.91323)
156,Zambia,ZMB,2015,3.658321,4.848113,15879370.0,Africa,POINT (27.72759 -13.39507)
157,Zimbabwe,ZWE,2015,3.090039,3.927306,13814642.0,Africa,POINT (29.78855 -18.90699)